.navbar {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  height: 70px;
  padding: 30px;
  top: 0;
}

.apply_now {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(79, 161, 108);
  position: relative;
  top: 32px;
  display: flex;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2 ease-in-out;
}

.apply_now:hover {
  background-size: 130%;
}
