body {
  padding: 0;
  margin: 0;
}

.carousel {
  width: 700px;
  height: 300px;
  background: rgba(201, 165, 118, 0.37);
  direction: rtl;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.carousel.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item:first-child {
  margin-right: 0px !important;
}
.item:last-child {
  margin-left: 0px !important;
}
